@page "/draw"

<PageTitle>Draw</PageTitle>

<img 
    src="svg/apple.svg"
    style="display: none"
    @onload="AppleSvgLoaded" 
    @ref="_appleIconReference" 
/>

<div class="canvasWrapper"
     style="width: @_wrapperDims.Item1; height: @_wrapperDims.Item2"
     @onclick="CanvasLeftClick">
    <BECanvas Width="@_canvasDims.Item1" Height="@_canvasDims.Item2" @ref="_canvasReference"></BECanvas>
</div>

<div class="canvasConsole"
     style="">
    <span>@_debug</span>
</div>